@model SessionParticipant

<link href="~/css/sessionRoom.css" rel="stylesheet" type="text/css">
<script src="~/js/jquery-3.6.1.min.js"></script>
<script src="~/js/sessionRoom.js"></script>


<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
<!-- Polyfill for fetch API so that we can fetch the sessionId and token in IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js" charset="utf-8"></script>

@Html.HiddenFor(m=>m.Token,new{id="token"})
@Html.HiddenFor(m=>m.ApiKey,new{id="apikey"})
@Html.HiddenFor(m=>m.SessionId,new{id="sessionid"})

<div class="row">
           <div class="root">
             <div>
                <div id="publisher"></div>
                <div id="subscriber"></div>
             </div>
       </div>
</div>